$colors: (
  primary:    		#005aab,
  secondary:      #69717D,
  success:        #2E853D,
  info:           #0B73A8,
  warning:        #995D00,
  danger:         #B00E03,
  light:          #e3eaef,
  grey:  		      #868e96,
  whitesmoke:     #f7f9f9,
  dark:       		#191d21,
  muted:          #98a6ad,
  body:           #f4f6f9,
  font:           #191d21,
  fontdark:       #34395e,
  white:          #ffffff,
  transparent:      transparent,

  // Form Control
  formcontrol_normal_background:    #fdfdff,
  formcontrol_normal_border:        #e4e6fc,
  formcontrol_focus_background:     #fefeff,
  formcontrol_focus_border:         #a9c9e5,

  // Utilities
  section_title_line: #19294d,
);

$font_family:   'Nunito', 'Segoe UI', arial;
$font_weight:   400;
$font_size:     15px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

